* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--color-1);
}
 
:root {
  --color-1: #162447;
  --color-2: #1B1B2F;
  --color-3: #EF233C;
  --color-4: #72B01D;
}